.GymReserveTitle{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 20px;
}

.CurrentPastSelection{
    position: absolute;
    top: 25%;
    left: 10%;
}

.Button{
    padding: 8px;
    margin-right: 20px;
    background-color: #3F51B5;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: bold;
}

.Button:hover{
    transition-duration: .2s;
    background-color: #6371c5;
}

.ReservationListPanel{
    display: inline-block;
    background-color: lightgray;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 30px;
    position: relative;
    top: 650px;

}

.ReservationCard{
    position: relative;
    display: inline-block;
    border-style: none;
    border-radius: 8px;
    margin: 5%;
    background-color:white;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ReserveComps{
    display: inline-block;
    padding: 10px;
}

.CenterText{
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
}

.Image{
    width: 200px;
    height: 100px;
}