/*BookForm*/

.booking-form {
  -ms-flex-align: center;
  position: fixed;
  padding: 5px;
  background-color: rgb(51, 51, 172);
  border-radius: 12px;
  border: 2px solid black;
  width: 300px;
  right: 30px;
}

.booking-fields {
  padding: 5px;
  border-radius: 5px;
}

/*CreateAccount*/

.register-fields {
  padding: 5px;
  border-radius: 5px;
}

.register-form{
  top: 100px;
  left: 40%;
  right: 40%;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  width: 475px;
}

/*Home Page Quick Guide*/

.helpsection {
  position: absolute;
  top: 10%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
  margin-top:40%;
}

.helpsection h1{
  color: rgb(80, 78, 78);
}

.support-win {
  position : fixed;
  bottom: 65px;
  right: 25px;
}

/*Login*/

.login-fields {
  padding: 5px;
  border-radius: 5px;
}

.login-form{
  top: 100px;
  left: 40%;
  right: 40%;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
}

/*Bottom Nav Bar*/

.bottom-nav-links {
  text-align: left;
  top: 11px;
  position: absolute;
  left: 20px;
}

.Social-media-icons {
  text-align: right;
  top: 5px;
  position: absolute;
  right: 0px;
}

/*Profile Reservations*/

.Button{
  padding: 8px;
  margin-right: 20px;
  background-color: #3F51B5;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-weight: bold;
}

.Button:hover{
  transition-duration: .2s;
  background-color: #6371c5;
}

.ReservationListPanel{
  display: inline-block;
  background-color: lightgray;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 30px;
  position: relative;
}

.ReservationCard{
  position: relative;
  display: inline-block;
  border-style: none;
  border-radius: 8px;
  margin: 5%;
  background-color:white;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ReserveComps{
  display: inline-block;
  padding: 10px;
}

.CenterText{
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin: 10px;
}

.Image{
  width: 200px;
  height: 100px;
}

.reservation-area {
  position: fixed;
}

.reservation-area h1{
  font-size: 30px;
}

.reservation-area h2{
  font-size: 20px;
}

/*Individual Gym Page*/

.gym-name{
  padding-top: 60%;
  
} 

/* .name-info{
  display: block;
  position: fixed;
  top: 4rem;
  left: 30px;
}


.about-gym{
  font-size: 15;
  position: fixed;
  margin-top: 10rem;
  left: 10px;
}

.product-pro{
  font-size: 10px;
}

.info-gym{
  font-size: 20px;
}

.booking-form{
  border-style: ridge;
  border-color: rgb(38, 1, 249);
  position: fixed;
  margin-top: 100px;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

Button {
  padding: 2px 20px;
  position: center;
}
*/

.sliders{
  justify-content: center;
  position: fixed;
  left: 2rem;
  top: 10rem;
  width: 50px;
  max-width: 70%; 
  max-height: 30%;
  min-height: 20%;
  min-width: 30%;
}

/*Gym Search Page*/

.gym-searchbar {
  position: absolute;
  top: 10%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
}

.gym-thumbnails {
  position: absolute;
  top: 23%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 12px;
}

.gym-thumbnail-indiv {
  border: 2px solid black;
  padding: 10px;
  border-radius: 12px;
}

/*Gym Search Result Page*/

.help-search-result-items {
  margin-top: 250px;
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

.help-line-texts {
  padding: 5px;
  border-radius: 5px;
}

.row-product {
  margin-top: -300px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

/*How can I contact Fit-Inn?*/

.how-to-contact-us-page {
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin-top: 375px;
}

.contact-us-button {
  text-align: center;
  padding: 5px;
}

/*Host Resource Page*/

.host-resource-pages-items {
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin-top: 75px;
}

/*Host Policy Page*/

.host-policy-pages-items {
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin-top: 0px;
}

/*Gym User Policy Page*/

.gym-user-policy-pages-items {
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin-top: 0px;
}

/*Pages from the Help Center Links*/

.help-center-link-pages-items {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin: auto;
  margin-top: 630px;
  width: 90%;
  height: 815px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.help-center-link-pages-texts {
  text-align: left;
}

.FAQ-page{
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  width: auto;
  margin-top: 775px;

}

.FAQ-page-search-bar{
  width: 500px;
}

.policy-page-update {
  padding-bottom: 20px;
}

.terms-page-links {
  text-align: left;
}

.terms-contents {
  text-align: left;
  padding-top: 20px;
}

/*Privacy Policy Page*/
.policy-page-items {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 25px;
  margin: auto;
  margin-top: 630px;
  width: 90%;
  height: 815px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

/*Contact Us Page*/

.contact-us-items {
  margin-top: 375px;
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

.view-gyms {
  background-color: white;
}

.googlemap {
  position: absolute;
  right: 1500px;
  top: 90px;
}

.search-bar-form{
  position: fixed;
  left: 30px;
}

.row-product{
  background-color: white;
  position: fixed;
  top: 35%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid black;
}

.item1{
  grid-row: 1;
}

.product-price {
  font-weight: bold;
  font-size: 140%;
}

.name-gym{
  font-weight: bold;
  font-size: 140%;
}

.nav{
  font-size: large;
}

.view-gym{
  flex-direction: column;
}

/*Gym Upload Page*/

.UploadTab {
  position: absolute;
  top: 10%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
}

.uf-sidebar {
  position: fixed;
  left: 0px;
  top: 100px;
}

.uf-sidebar ul{
  display: grid;
}

.uf-sidebar button {
  font-size: 40px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.uf-overall-button{
  background-color: white;
  color: black;
}

.uf-overall-button-selected{
  background-color: #3F51B5;
  color: white;
}

.uf-overall-button:hover{
  background-color: darkgray;
}

.uf-input-container {
  font-size: 25px;
}

.uf-input-container textarea{
  font-size: 25px;
  resize: none;
  margin-bottom: 50px;
}

.uf-input-container h3{
  font-size: 30px;
}

.uf-input-container select{
  font-size: 25px;
}

.uf-input-container option{
  font-size: 25px;
}

.uf-input-container input {
  font-size: 25px;
  margin-bottom: 50px;
}
.uf-input-container button {
  font-size: 25px;
  margin-left: 10px;
}

.uf-address input {
  margin-bottom: 5px;
}

.uf-input-equip button{
  font-size: 25px;
}

.uf-input-equip-details{
  position: absolute;
  top: 172px;
  right: 400px;
}

.uf-input-container input[type="text"]{
  font-size: 25px;
}

.uf-input-container input[type="number"]{
  font-size: 25px;
  width: 80px;
}

.uf-input-container input[type="radio"]{
  width: 25px;
  height: 25px;
}

.uf-input-container input[type="submit"]{
  font-size: 25px;
}

.uf-section-button-back {
  font-size: 25px;
}

.uf-section-button-next {
  font-size: 25px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/*Help Page*/

.help-page-items {
  margin-top: 350px;
  -ms-flex-align: center;
  /*position: absolute;*/
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
}

.help-page-padding {
  padding-top: 40px;
}

/*Payment Page*/
.payment-items {
  margin-top: 250px;
  left: 40%;
  right: 40%;
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

.payment-textfields {
  padding: 5px;
  border-radius: 5px;
}

.payment-button {
  text-align: right;
  padding: 5px;
}

/*Home Page*/

#HowTo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

.helpsection {
  text-align: center;
  position: sticky;
  top: 100%;
}

/*Landing Page*/

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.bottom-nav-bar {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

body{
  background-position-y: 64px;
  background-image: url('./components/HomePage/upklyak.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 93%;
}

/*Profile Page*/

.profile-page {
  position: absolute;
  top: 100px;
  width: 58%;
}

.profile-page-header {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

.user-basic-info {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
}

.user-basic-info img{
  margin-bottom: 40px;
}

.edit-profile {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
}

.edit-profile input {
  font-size: 20px;
  margin-top: 10px;
}

.edit-profile input[type='submit'] {
  margin-top: 40px;
}

.user-listings {
  background-color: white;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
}

.FormGroup {
	margin: 0 15px 20px;
  width: 95%;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
  color: #fff;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3,
h5 {
	text-align: center;
}

/*Aid Chat*/
* {
  font-family: Avenir !important;
}

.ce-my-message-bubble {
  background-color: #7a39e0 !important;
}

.ce-chat-title-text {
  color: #7a39e0 !important;
}

.ce-chat-subtitle-text {
  color: #7a39e0 !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
  color: #7a39e0 !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* User Review */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}


/* Pop up Reservation */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  border-radius: 10px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 300px;
}

.confirm-title {
  top: 10px;
  padding: 10px;
  color: #91919c;
  word-spacing: 10rem;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
