.UploadForm {
    position: absolute;
    top: 10%;
}

.uf-input-container {
    font-size: 30px;

}

.uf-input-container select{
    font-size: 30px;

}

.uf-input-container option{
    font-size: 30px;

}

.uf-input-container input {
    font-size: 30px;

}

.uf-input-container input[type="text"]{
    font-size: 30px;

}

.uf-input-container input[type="checkbox"]{
    font-size: 30px;

}

.uf-input-container input[type="submit"]{
    font-size: 30px;

}