.UploadForm {
    position: absolute;
    top: 10%;
    background-color: white;
    padding: 10px;
}

.uf-sidebar {
    position: fixed;
    left: 0px;
    top: 100px;
}

.uf-sidebar ul{
    display: grid;
}

.uf-sidebar li{
    font-size: 40px;
    margin-top: 50px;
}

.uf-sidebar li:hover{
    background-color: darkgray;
}

.uf-sidebar li:checked{
    background-color: blue;
}

.uf-input-container {
    font-size: 30px;
}

.uf-input-container select{
    font-size: 30px;
}

.uf-input-container option{
    font-size: 30px;
}

.uf-input-container input {
    font-size: 30px;
}

.uf-input-container input[type="text"]{
    font-size: 30px;
}

.uf-input-container input[type="checkbox"]{
    font-size: 30px;
}

.uf-input-container input[type="submit"]{
    font-size: 30px;
}