.Items {
    margin-top: 200px;
    -ms-flex-align: center;
    /*position: absolute;*/
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid black;
    
    /*
    background: rgb(255, 255, 255);
    padding: 475px;
    border-radius: 12px;
    border: 2px solid black;
    */
}

.Articles {
}

.buttons {
}