.SimpleSearch {
    position: absolute;
    bottom: 50%;
}

.SimpleSearch input[type="text"] {
    cursor: pointer;
    font-size: 30px;
}

.SimpleSearch input[type="submit"]{
    cursor: pointer;
    font-size: 30px;
}

#HowTo {
    display: flex;
    flex-direction: column;
    bottom: 64px;
    position: absolute;
    background-color: white;
}

#Bott {
    display: flex;
    flex-direction: column;
    bottom: 5px;
    position: absolute;
    background-color: white;
}