#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#bottomNavBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

body{
    background-position-y: 64px;
    background-image: url('../components/HomePage/upklyak.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
}
