#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#bottomNavBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

body{
    background-image: url('../components/HomePage/upklyak.png');
    background-size: 2700px;
}
