.description {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    bottom: 5px;
    position: absolute;
}  

ul {
        margin: 7px;
        padding: 0;
        list-style: none;
        display: flex;
}

li {
    background-color: rgb(225, 225, 225);
    font-size: 20px;
    margin-right: 8px;
    padding: 10px;
    border-radius: 25px;
}

.container{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}
.item{
    width: 220px;
    height: 150px;
    border-radius: 20px;
    margin: 1px 20px;
}