#fields {
    padding: 5px;
    border-radius: 5px;
}

#form{
    /* top: 100px; */
    -ms-flex-align: center;
    position: fixed;
    padding: 5px;
    background-color: rgb(51, 51, 172);
    border-radius: 12px;
    border: 2px solid black;
    width: 300px;
    right: 30px;
}