#loginfields {
    padding: 5px;
    border-radius: 5px;
}

#loginform{
    top: 100px;
    left: 40%;
    right: 40%;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid black;
}